#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #070F2B;
}

html {
  scroll-padding-top: 100px; /* ปรับความสูงที่ต้องการให้พอดีกับ navbar */
}

.navbar {
  position: fixed; /* หรือ sticky */
  top: 0;
  height: 70px; /* ความสูงของ Navbar */
}
