#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%; /* ทำให้พื้นหลังครอบคลุมทั้งหมด */
}

body {
  background-color: #070F2B;
  margin: 0; /* ลบ margin ของ body */
}

html {
  scroll-padding-top: 100px; /* ปรับความสูงที่ต้องการให้พอดีกับ navbar */
  min-height: 100%; /* ทำให้ html ครอบคลุมเนื้อหาทั้งหมด */
}

.navbar {
  position: fixed; /* หรือ sticky */
  top: 0;
  height: 70px; /* ความสูงของ Navbar */
}
